extends layout

block content
  a(href="/art/howard.stearns/memetic+hazard.html") example
  h3 To Do:
  ol
    li input validation (including server uniqueness, nametag updates, and messages, for username, email, and composition title)
    li change of composition title adds nametag so it can be found
    li signup (initially without social signin)
    li add composition
    li what's new
    li favor
    li search
    li buy (proforma, without credit cards)
    li initial About, Privacy, Contact, Help
    li verify emails part 1: basic low-volume system using gmail
    li set up on Amazon
    li Clean up structure to make it easier to do visual design.
    li breadcrumbs
    li Visual design (.css)
    li Facebook login/like/share
    li Google Analytics
    li scalability
    li private database backup
    li https (instead of http, and needed for security, external search rankings, and volume smtp)
    li verify emails part 2: running our own smtp server (probably https://haraka.github.io/)
    li make changes to your own profile or compositions just by clicking on item (no separate "update" form)
    li Twitter login/tweet
    li selling someone else's painting as a dealer
    li Pinterest login/pin
    li credit cards, real buy
    li Delicious    
    li Tumblr
    li Digg
    li Linked-In
    li Stumble Upon
    li ...
  
