extends layout

block content
  img(src="/images/kilroy-20.png", width="1000")
  p
    a(href="/personal/howard/index.html") Howard
  p
    a(href="/chat.html") Metaverse Chat
  p
    a(href="/canvascat.html") Canvascat
  