body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

name {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

picture {
    display: block;
}

artist, website {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
discription, medium, price, buyer, dimensions, category, update, add-art, add-member, email, username, password, error {
    display: block;
}
scroll a {
    display: block;
}
input {
    width: 400px;
}